.container {
display: flex;
flex-direction: column;
/* justify-content: space-around; */
/* align-content: center;  */

/* align-items: center;  */
height: 800px;
background-color: blanchedalmond;
}

.items {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: blueviolet;
   
}

.items2 {
    /* justify-self: center; */
    align-self: stretch;
    text-align: center;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}